// font size
.display-4 {
  font-size: 120px !important;
}
.display-3 {
  font-size: 56px !important;
}
.display-2 {
  font-size: 45px !important;
}
.display-1 {
  font-size: 34px !important;
}
.headline {
  font-size: 24px !important;
}
.title {
  font-size: 20px !important;
}
.subheading {
  font-size: 16px !important;
}

// font align
.text-center {
  text-align: center !important;
}
