/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
@import '~material-design-icons-iconfont/dist/material-design-icons.css';
@import './styles/spacing.scss';
@import './styles/text.scss';
@import './styles/theme.scss';
@import './styles/color.scss';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.css';

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

app-page .mat-expansion-panel-body {
  padding: 0;
}

.mat-list-base .mat-list-item .mat-list-icon {
  height: unset !important;
}

// fix aligning
.wechat .mat-menu-content:not(:empty) {
  padding: 0px !important;
  height: 150px !important;
  overflow: hidden;
}
