<div class="container p-30"
     fxLayout="row"
     fxLayoutAlign="center center">
  <div fxFlex="50"
       class="left"
       fxLayout="row"
       fxLayoutAlign="end center">
    <mat-card class="app-card text-center">
      <img mat-card-image
           class="logo"
           [src]="imageUrl">
      <mat-card-content>
        <h1 class="text-center">
          {{appName}}
        </h1>
      </mat-card-content>
      <mat-card-actions>
        <mat-accordion>
          <mat-expansion-panel class="mat-elevation-z0">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Related technologies
              </mat-panel-title>
            </mat-expansion-panel-header>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="right"
       fxFlex="50"
       fxLayout="row"
       fxLayoutAlign="start center"
       fxFlexOffset="20">
    <button class="view-btn"
            [ngStyle]="{'background-color': buttonColor}"
            mat-raised-button>View</button>
  </div>
</div>
