.container {
  width: 100%;
  background-color: transparent !important;
}

.container .view-btn {
  // transform: scale3d(1.5, 1.5, 1.5);
  color: white;
  width: 6rem;
  height: 3rem;
}

.app-card {
  min-width: 150px;
}

mat-list-item .logo {
  border-radius: 0 !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

a {
  text-decoration: none;
  color: inherit;
}

.tech-list-title {
  margin: 0px;
}
