$page-height: 60vh;

.container {
  width: 100%;
  height: $page-height;
  background-color: transparent !important;
}

.container .view-btn {
  transform: scale3d(1.7, 1.7, 1.7);
  color: white;
  // border-radius: 200px;
}

.app-card {
  height: 50%;
  width: 30%;
}
